.button{
    width: 100%;
    text-align: center;
    background-color: #d5aa63;
    padding: 10px 28px;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    font-size: 18px;
    &:hover{
        background-color: #e2c492;
    }
}