.radioButton{
    width: 100%;
    padding: 12px 16px;
    color: #6b6257;
    text-align: center;
    border: 1px solid #d2d2d2;
    background-color: #FFF;
    &:hover{
        background-color: #f0efee;
    }
    &--selected{
        @extend .radioButton;
        background-color: #a6a19a;
        color: #FFFFFF;
        &:hover{
            background-color:#a6a19a;
        }
    }
    input[type=radio]{
        display: none;
    }
}